<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <job>
        <processor type="Sitecore.Support.Jobs.JobRunner, Sitecore.Support.318517" method="RestoreContextUser" patch:after="*[@method='ResetSecurity']"/>
      </job>
    </pipelines>
  </sitecore>
</configuration>